.__ui{
    width: 100vw;
}

.__ui-inner-bot{
    height: calc(100vh - 60px);
}

/* /Common */


/* Navbar */

.__navbar{
    padding: 8px;

    height: 60px;
}

.__logo-container{
    height: 60px;
}

.__logo-container img{
    height: 100%;
}

#__search-bar{
    width: 100%;

    padding: 4px 0;
    padding-left: 30px;

    background-color: #e5e5e5;
}

#__search-lens{
    position: absolute;
    left: 5px;
    top: 8px;
}

#__bell{
    cursor: pointer;
    color: #ff8f00;
}

/* /Navbar */



/* Side-bar */


.__side-bar{
    padding: 30px 20px;

    width: 150px;

    background-image: url(../img/sidebar-bg.png);
    background-color: #0f263c;
}



/* /Side-bar */




/* Main */


      /* Inner top */

.__main{
    width: calc(100% - 150px);
}

.__main .__main-inner-top{
    padding: 12px;
    padding-right: 100px;
    background-color: #1b72e8;
}

.__badge-style{
    font-size: 0.8em;

    background-color: #165bba;
}

.__inner-top-center{
    min-width: 160px;
}

.__inner-top-right{
    min-width: 155px;
}

.__inner-top-text{
    font-size: 0.9em;
}

.__btn{
    background-color: #1b72e8;
}

.__btn .fa-plus{
    font-size: 0.8em;
}

#offcanvasRight{
    width: 45%;
}

    /* Main section */

.__main-sec{
    background-color: #f8f9fa;
}

.card-header{
    font-size: 1.4em;
}

/* Table */

.table{
    font-size: 0.8em;
}

.table th{
    width: auto;
}

.table td{
    width: 12%;
}

.fa-code{
    padding: 5px;

    border-radius: 50%;

    background-color: #f26551;
}

.__badge-done{
    font-size: 0.8em;
    background-color: #198754;
}

.__badge-process{
    font-size: 0.8em;
    background-color: #ffc107;
}

.__badge-failed{
    font-size: 0.8em;
    background-color: #dc3545;
}

.__table-cursor i{
    cursor: pointer;
}




/* /Table */


/* /Main */





/* Media queries */


@media screen and (max-width: 992px) {
    .__side-bar{
        width: 65px;
    }

    .__main{
        width: calc(100% - 65px);
    }

    #offcanvasRight{
        width: 90%;
    }   
}



@media screen and (max-width:768px) {
    #offcanvasRight{
        width: 100%;
    }
}
    


