.__ui{
    width: 100vw;
}

.__ui-inner-bot{
    height: calc(100vh - 60px);
}

/* /Common */


/* Navbar */

.__navbar{
    padding: 8px;

    height: 60px;
}

.__logo-container{
    height: 60px;
}

.__logo-container img{
    height: 100%;
}

#__search-bar{
    width: 100%;

    padding: 4px 0;
    padding-left: 30px;

    background-color: #e5e5e5;
}

#__search-lens{
    position: absolute;
    left: 5px;
    top: 8px;
}

#__bell{
    cursor: pointer;
    color: #ff8f00;
}

/* /Navbar */



/* Side-bar */


.__side-bar{
    padding: 30px 20px;

    width: 150px;

    background-image: url(../img/sidebar-bg.png);
    background-color: #0f263c;
}



/* /Side-bar */




/* Main */

.__main{
    width: calc(100% - 150px);
}

.__main .__main-inner-top{
    padding: 12px;
    padding-right: 100px;
    background-color: #1b72e8;
}

.__badge-style{
    font-size: 0.8em;

    background-color: #165bba;
}

.__inner-top-text{
    font-size: 0.9em;
}

.__btn{
    background-color: #1b72e8;
}

.__btn .fa-plus{
    font-size: 0.8em;
}


/* /Main */



/* Media queries */


@media screen and (max-width: 992px) {
    .__side-bar{
        width: 65px;
    }

    .__main{
        width: calc(100% - 65px);
    }
}
    


