.__ui{
    width: 100vw;
}

.__ui-inner-bot{
    height: calc(100vh - 60px);
}

/* /Common */


/* Navbar */

.__navbar{
    padding: 8px;

    height: 60px;
}

#__search-bar{
    width: 100%;

    padding: 4px 0;
    padding-left: 30px;

    background-color: #e5e5e5;
}

#__search-lens{
    position: absolute;
    left: 5px;
    top: 8px;
}

#__bell{
    cursor: pointer;
    color: #ff8f00;
}

/* /Navbar */



/* Side-bar */


.__side-bar{
    width: 150px;

    background-image: url(../img/sidebar-bg.png);
    background-color: #0f263c;
}



/* /Side-bar */




/* Main */

.__main{
    background-color: bisque;
    /* test */

    width: calc(100% - 150px);
}


/* /Main */